.intro__list {
  max-width: 690px;
  list-style-type: none;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  font-style: normal;
  line-height: 150%;
  padding: 0;
  margin: 0;
}