.footer__author {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .footer__author {
    font-size: 14px;
    line-height: 14px;
  }
}
