.header__link {
  display: block;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
  text-decoration: none;
  transition: opacity .3s ease;
  margin-left: 18px;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__link {
  font-size: 18px;
  line-height: 20px;
  }
}
